body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}
* {
  box-sizing: border-box;
}
.main-content {
  width: 1000px;
  margin-left: 20px; 
  margin-top: 70px; 
  padding: 20px;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper{
  margin-left: 160px;
}

.app-layout {
  display: flex;
  background: #F8F8F8 ;
  height: 100%;
  width: 130%;
  overflow: hidden; 
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  background-color: #F8F8F8;
}

.reset-container {
  width: 600px;
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 0; 
  align-items: flex-start; 
  
}
.reset-title
.reset-card {
  padding: 40px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  text-align: center;
}
.form-input {
  width: 400px;
  padding: 20px;
  gap:24px;
  margin: 15px 0;
  border: 1px solid#7F7F7F;
  border-radius: 10px;
  
}
.form-input {
    font-weight: 700;
    font-size:16px;
    font-style: bold;
    color: #7F7F7F;
    background-color: #F8F8F8;

}

.has-error .form-input {
  border-color: #523330;
}

.error-msg {
  color: #e74c3c;
  font-size: 12px;
  margin-top: -8px;
  display: block;
}

.save-btn {
  width: 400px;
  padding: 22px;
  background-color:#21292B;
  color: white;
  border: none;
  border-radius: 62px;
  cursor: pointer;
  margin-top: 50px;
 
}

.save-btn:hover{
  background:#191313;
  
}

.save-btn:disabled {
  background-color: #8e95b6;
  cursor: not-allowed;
}

.success-banner {
  background-color: #d1fae5;
  color: #065f46;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.error-banner {
  background-color: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}